<h3 i18n="|Word describing medicine@@medicine">Medicine</h3>
<div>
    <span i18n="@@table.id">ID:</span>
    {{data?.id}}
</div>
<div>
    <span i18n="@@table.name">Name:</span>
    {{data?.name}}
</div>
<div>
    <span i18n="@@image">Image:</span>
    {{data?.image}}
</div>
<div>
    <span i18n="@@manufacturer">Manufacturer:</span>
    {{manufacturer?.name}}
</div>
<div>
    <span i18n="@@category">Category:</span>
    {{category?.name}}
</div>
<div>
    <span i18n="@@medicineForm">Form:</span>
    {{form?.name}}
</div>
<div>
    <span i18n="@@table.price">Price:</span>
    {{data?.price}}
</div>
<div>
    <span i18n="@@table.prescriptionRequired">Prescription required:</span>
    {{data?.prescriptionRequired | yesNo}}
</div>
<a routerLink="/employee/medicine">Back</a>